[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
rotest = "*"
"e1839a8" = {path = ".", editable = true}
attrdict = "*"

[dev-packages]
"flake8" = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
mock = "*"

[requires]
python_version = "2.7"
